<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<th:block th:include="/_menu.html"></th:block>
<form action="#" th:action="@{/admin/add}" th:object="${user}" method="post">

    <label th:for="username">Username</label>
    <input type="text"  th:name="username" th:id="username"/>

    <label th:for="email">Email</label>
    <input type="text"  th:name="email" th:id="email"/>


    <label>Password</label>
    <input type="text"  th:name="password" th:id="password"/>

    <select name="role" multiple>
        <option th:each="role : ${roles}"
                th:value="${role}"
                th:text="${role}"/>
    </select>
    <input type="submit" value="Submit">
</form>

</body>
</html>